.main-links{
    width: 95%;
    margin: auto;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
}

.seccion-celular{
    display: none;
}

.seccion-urls{
    width: 100%;
    margin-bottom: 40px;
}

.seccion-links-1{
 padding: 10px;
}

.div-1-seccion-1{
    width: 90%;
    margin: auto;
}

.h4-seccion-1{
    color: #6D6D6C;
    font-weight: 400;
}

.div-2-seccion-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button-seccion-1{
width: 90%;
font-family: 'Poppins', sans-serif;
background-color: transparent;
color: #5A4D9B;
padding: 10px 20px;
border: 1px solid #5A4D9B;
border-radius: 10px;
font-size: 24px;
font-weight: 500;
cursor: pointer;
transition: all .4s;
}

.button-seccion-1:hover{
    color: white;
    background-color: #5A4D9B;
}


/* SECCION2 */

.form{
   background-color: white;
   width: 92%;
   height: auto;
   margin: auto;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.seccion-form{
    background-color: #9797951f;
    width: 90%;
    height: 240px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.div-1-form{
    display: flex;
    justify-content: space-between;
}

.h3-form{
    margin: 10px;
    color: #6D6D6C;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.imgLinks{
    width: 18px;
    margin: 0px 12px;
}

.button-form{
 background-color: transparent;
 border: none;
 color: #6D6D6C;
 font-size: 20px;
 margin: 0px 18px;
 cursor: pointer;;
}

.div-2-form{
display: flex;
flex-direction: column;
justify-content: center;
}

.label-form{
    margin: 0 24px;
    color: #6D6D6C;
}

.select-form{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #6d6d6c38;
    margin: auto;
    margin-top: 5px;
    color:#6D6D6C;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border-right: 8px solid transparent;
    cursor: pointer;
}

.img-marca{
    width: 15px;
    margin-left: 5px;
}

.input-form{
    width: 85%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #6d6d6c38;
    margin: auto;
    margin-top: 5px;
    color:#6D6D6C;
    padding: 10px;
    font-size: 20px;
    outline: none;font-family: 'Noto Sans JP', sans-serif;
}

.div-3-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}


.btn-save{
    width: 95%;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #5A4D9B;
    padding: 5px 20px;
    border: 1px solid #5A4D9B;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s;
}

.btn-save:hover{
   color: #5A4D9B;
   background-color: transparent;
}



@media screen and (min-width:760px) {
    .button-seccion-1{
        width: 88%;
        }

    /* SECCION2 */
    
    .form{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    
    .h3-form{
    margin: 10px 24px;
    }
    
    .button-form{
    margin: 0px 25px;
    }
    
    .label-form{
        margin: 0 34px;
        font-size: 18px;
    }
    
    .select-form{
        width: 90%;
    }
    
    .img-marca{
        width: 17px;
        margin-left: 5px;
    }
    
    .input-form{
        width: 87%;
    }
    
    .btn-save{
        width: 30%;
    }

}

@media screen and (min-width:990px) {
    .div-1-seccion-1{
        width: 85%;
        margin: auto;
    }

    .button-seccion-1{
        width: 85%;
        }

    /* SECCION2 */
    
    .h3-form{
    margin: 10px 30px;
    }
    
    .button-form{
    margin: 0px 32px;
    }
    
    .label-form{
        margin: 0 42px;
    }
}

@media screen and (min-width:1110px) {
    .seccion-celular{
        display: flex;
        justify-content: center;
        width: 35%;
         height: 650px;
         position: sticky;
         top: 110px;       
    }
    
    .seccion-urls{
        width: 65%; 
    }

    .div-1-seccion-1{
        width: 85%;
        margin: auto;
    }
}