
.main-celular{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   min-width: 400px;
   max-width: 640px;    
}

.img-celular-main{
    height: 600px;
    position: relative;   
}

.seccion-contenedor-celular{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 520px;
  border-radius: 15px;
  overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.div-1-celular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-img-perfil{
    width: 40%;
    height: 120px;
    border: 3px solid #5A4D9B;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 50%;
}

.img-perfil{
    width: 300px;
}

.h3-div-1{
    font-weight: 600;
    margin: 20px 10px 5px 10px;
}

.h5-div-1{
    font-weight: 400;
}

.div-2-celular{
    width: 100%;
    height: auto;
}

.img-marca {
        width: 30px;
        margin-left: 5px;
}

.a-div-2-celular{
    text-decoration: none;
    color: white;
    margin-right: 80px;
    width: 80% !important;
    height: 40px;
    margin: 10px 20px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-flecha{
    width: 15px;
    margin-right: 10px;
    margin-left: 50px;
}
